body{
	margin: 0;
	/*background-color: snow;*/
}
#heading{
	width: 100%;
	height: 42px;
	/*background-color: seashell;*/
	box-shadow: 0px 2px 8px 0px rgba(50,50,50,0.6);
	border: none;
	border-radius: 5px;
}
#heading .logo{
	margin-left: 170px;
	font-size: 30px;
	font-family:"微软雅黑";
	text-decoration: none;
	color: salmon;
}
#heading .logo:hover{
	color: sandybrown;
	font-size: 32px;
}
#heading a{
	text-decoration: none;
}
#heading>a>span{
	margin-top: 7px;
	left: 160px;
	font-size: 30px;
	color: salmon;
}
.container_unit{
	border: 1px solid silver;	
	border-radius: 2px;
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 15px;
	width: 80%;
	margin: 0 auto;
}
.tijiao{
	position: absolute;
	border: 1px solid silver;
	left: 500px;
	width: 300px;
	margin: 10px auto;
	border-radius: 2px;
}
.tijiao:hover{
	background-color: aquamarine;
}
