<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width = device-width,initial-scale=1"/>
		<title>您好，欢迎来到****实验平台</title>
		<link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="another_css/main.css"/>
	</head>
	<body>
		<div id="container">
			<hr />
			<!--top部分-->
			<div class="introduce">
				<div class="filter">	<!--滤镜设置-->
				<h3>练习----只为遇见更好的自己&nbsp;&nbsp;&nbsp;&nbsp;
				<br /><br />
				<a href="login.php" class="btn btn-default">点击登录</a>&nbsp;&nbsp;&nbsp;
				</h3>
				</div>
			</div>
			<!--中间部分-->
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 fun_introduce">
					<br />
					<h3>编程能力对计算机专业学生来说是一项必不可少的生存技能。因此，必要的算法训练是十分重要的。</h3>
					<br />
					<h4>****实验系统给你平台，各位资深教师定时发布实验题目，学生按时完成，让能力更上一层楼。</h4>
					<br />
				</div>
			</div>
		</div>
			<!--底部部分-->
			<ul class="breadcrumb">
				<li>Designed By ****</li>
				<li>@****.com</li>
			</ul>
	</body>
</html>
